* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divPai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-top: 40px;
        margin-bottom: 40px;

        @media screen and (max-width:700px) {
            margin-top: 140px;
        }
    }


    .divFilho {
        display: flex;
        justify-content: center;
        align-items: center;


        width: 500px;
        height: 500px;

        max-width: 400px;
        margin: 0 auto;

        margin-bottom: 120px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        //     form {
        //         display: flex;
        //         justify-content: center;
        //         flex-direction: column;

        //         padding: 40px;


        //         // border: 1px solid red;
        //     }

        //     label {
        //         margin-top: 10px;
        //     }

        //     input,
        //     textarea {
        //         padding: 10px;
        //         margin: 5px 0;
        //         border: 1px solid #ccc;
        //         border-radius: 4px;
        //     }

        //     input[type="submit"] {
        //         background-color: #4caf50;
        //         color: white;
        //         cursor: pointer;
        //     }

        //     input[type="submit"]:hover {
        //         background-color: #45a049;
        //     }

        @media screen and (max-width:700px) {
        

            width: 300px;
        }

    }
}